.container1 {
  display: flex;
  /*background-color: red;*/
  align-items: center;
  justify-content: center;
  ;
}
h1 {
  font-size: 2rem; 
}
h2 {
  font-size: 1.2rem; 
}
.searchBox {
  border: 1px solid #000;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.searchButton {
  border: 1px solid #000;
  background-color: #0f0;
  padding: 0.5rem 1rem;
}

.userProfile {
  text-align: center;
  border: 1px solid #000;
  width: 20%;
  margin-bottom: 10px;
  margin-left: 40vw;
}

.userAvatar {
  width: 50%;
  margin: auto;
}
.strikethrough {
  text-decoration: line-through;
}
.xButton {
  color: red;
  font-size: 2rem;

}
.listText {
  font-size: 2rem;
}

.select-none {
  user-select: none; 
}
.radioContainer {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.radioContainer div {
  margin-right: 1rem;
}
.userLink {
  font-size: 1.2rem;
  color: blue;
  text-decoration: underline;
}
ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.center {
  text-align: center;
}
.slider
{
  width: 400px;
}
.gray {
  background-color: lightgray;
}

.hidden {
  display: none;
}
.arrow {
  font-size: 3rem;
}
.blueDiv {
  width: 10%;
  margin-left: 45%;
  border-radius: 0.25rem;
  background-color: #3b82f6;
}
.carousel {
  align-content: center;
  height: 35vh;
  width: 90%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.blue{
  background-color: blue;
  width: 90vw;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.headerText {
  font-size: 2.5rem;
}

.white {
  display: grid;
  grid-template-rows: auto;
  background-color: white;
  padding: 10px;
  margin: 10px auto;
  color: black;
  width: 90%;
  font-size: 1.2rem;
  
}
.button1{
  background-color: gray;
  width: 40px;
  font-size: 1.5rem;
}

.container3{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.leftText{
  text-align: left;
}

.container2{
  border: 1px black solid;
  width: 60%;
  margin: auto auto;
  background-color: darkgoldenrod;
  font-size: 1.2rem;
}

.button2{
  background-color: gray;
  border: 1px black solid;
  margin: 10px;
  font-size: 2rem;
}

.whiteBox{
  border: dashed 2px black;
  width: 50%;
  margin: auto;

}
.textBox{
  border: 1px black solid;
  font-size: 2rem;
}
.addButton {
  border: 1px black solid;
  background-color: lightgray;
  font-size: 2rem;
}
.bmiText {
  font-size: 1.2rem;
}